#main-header {
    text-align: center;
    margin-top: 15px;
    margin-right: 100px;
    background-color:
}

footer {
    text-align: center;
    margin-left: 50px;
}

#men-price {
    float: right;
 
}

#women-price {
    float: right;
 
}

#men-shirt {
    margin-right: 10px;
}

#women-shirt {
    margin-right: 10px;
}

#home-page {
    margin-right: 10px;
}

#cart-btn {
    margin-right: 10px;
}
/* .clearfix::after {
	content: "";
	display: block;
	clear: both;
} */

